{% extends "theme.html" %}
<!-- 使主页显示product中的各数据-->
{% block content %}
<!--删掉for循环即可-->
<div class="container">
	<div class="row">	<!--使左边图片，右边标题简介，各产品列排列-->
		<div class="card" style="width: 18rem;">
		  <img src="{{ product.icon.url }}" class="card-img-top" alt="">
		  <div class="card-body">
		  </div>
		</div>
		<div class="col-md-8" style="padding-left:30px">
			<h3><a href="products/{{ product.id }}">{{ product.title }}</a></h3>
			<br>
			{{ product.intro }}
		</div>
	</div>
</div>

{% endblock content %}